node_modules
prisma/migrations
# Keep environment variables out of version control
.env
test.ts
prettier.json
dbtugasakhir.sql
# data for seeding initial data
data
docs
uploaded_file
# swagger docs
swagger-output.json
seed/ujiansidang.seed.sql
dist/
.prettierrc
.vscode